<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous"
/>

​

<!-- <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans|Caveat|Caveat+Brush&display=swap" rel="stylesheet"> -->

​

<link
  href="https://fonts.googleapis.com/css?family=Alegreya+Sans|Archivo+Black|Caveat&display=swap"
  rel="stylesheet"
/>

​

<link
  href="https://fonts.googleapis.com/css?family=Archivo+Black|Istok+Web&display=swap"
  rel="stylesheet"
/>

<div class="body">
  <div class="container-fluid">
    <div
      class="row align-items-center justify-content-center banner fondobaner"
    >
      <div class="col-md-6 align-self-center text-center ">
        <img
          src="../../../../assets/imagenes/cleopatra.png"
          height="75%"
          width="85%"
          class="animated  flipInY animacionlogo"
          alt=""
          srcset=""
        />
        <!--    <h1> nombre de la app </h1> -->

        ​

        <button routerLink="/login" class="btn btn-index">
          Iniciar sesion
        </button>

        <button routerLink="/registro" class="btn btn-index">
          Registrarse
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 nosotros-sec animated fadeInUp">
        <h1>Nosotros</h1>

        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat ad
          sequi itaque nobis ut, repellat cum iste, accusamus eius inventore
          amet voluptatibus deserunt obcaecati laboriosam voluptatem officia
          natus veritatis aperiam.
        </p>
      </div>
    </div>

    <!-- FOOTER -->

    <footer>
      <div class="row align-items-center animated fadeInUp">
        <div class="col-md-6 col-sm-12 text-center">
          <form action="">
            <div class="form-group">
              <input
                type="text"
                class="input-footer"
                placeholder="Correo electrónico"
              />
            </div>

            <div class="form-group">
              <input type="text" class="input-footer" placeholder="Mensaje" />
            </div>

            <button class="btn btn-footer">Enviar</button>
          </form>
        </div>

        <div class="col-md-6 col-sm-12 text-center">
          <p class="p-footer">
            Creado y diseñado por <a href="/">Agile Soft</a>
          </p>
        </div>
      </div>
    </footer>

    <!-- /FOOTER -->
  </div>
</div>
