<div class="container-fluid">
    
    <div class="row align-items-center justify-content-center banner">
        <div class="col-md-6 align-self-center text-center">
            <div class="col-md-12">
                <img src="assets/img/diseñosparasitioweb.png" class="bannerLogo" alt="">
            </div>
            <button routerLink="/login" class="btn btn-index">Iniciar sesion</button>
            <button routerLink="/registro" class="btn btn-index">Registrarse</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 nosotros-sec animated fadeInUp">
            <h1>Nosotros</h1>
            <p>
                HighViewGo Tenemos el servicio de streaming para cada uno de nuestros miembros de manera personalizada en el cual puede escoger la película de una gran variedad de géneros, lo puedes ver de manera ilimitada y sin anuncios. Cada mes podras encontrar nuevas películas de estreno. Regístrate y disfruta del cine en cualquier tipo de dispositivo ¡Alista tus palomitas, la diversión comenzó!
            </p>
        </div>
    </div>
    
</div>