<div class="container-fluid">
    
    <div class="row align-items-center justify-content-center banner">
        <div class="col-md-6 align-self-center text-center">
            <div class="col-md-12">
                <img src="assets/img/diseñosparasitioweb.png" class="bannerLogo" alt="">
            </div>
            <button routerLink="/login" class="btn btn-index">Iniciar sesion</button>
            <button routerLink="/registro" class="btn btn-index">Registrarse</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 nosotros-sec animated fadeInUp">
            <h1>Nosotros</h1>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat ad sequi itaque nobis ut, repellat cum iste, accusamus eius inventore amet voluptatibus deserunt obcaecati laboriosam voluptatem officia natus veritatis aperiam.
            </p>
        </div>
    </div>
    
</div>