<div class="container-fluid fondo-login">
  <div class="row align-items-center justify-content-center">
    <div class="col-md-6 align-self-center text-center">
      <form class="form-loguin" #f="ngForm" (ngSubmit)="login(f.value)">
        <div class="form-group">
          <input
            ngModel
            type="email"
            class="input-footer"
            placeholder="Correo electrónico"
            name="email"
          />
        </div>
        <div class="form-group">
          <input
            ngModel
            type="password"
            class="input-footer"
            placeholder="Contraseña"
            name="pw"
          />
        </div>
        <button [disabled]="f.invalid" type="submit" class="btn btn-footer">
          Ingresar
        </button>
        <br />
        <br />
        <small
          ><a routerLink="/registro"> ¿no tienes cuenta? registrate </a></small
        >
      </form>
    </div>
  </div>
</div>
