<router-outlet></router-outlet>
<div class="container-fluid">
    <!-- PELICULA A VER -->
    <div class="row">
        <div class="col-sm-12" style="text-align: center;">
            <video width=" 100%" height="600" controls poster="{{infoPelicula.producto.imagen}}">
                <source src="{{infoPelicula.producto.video}}" type="video/mp4">
            </video>
        </div>
            <!-- <iframe width="100%" height="600" src="https://www.youtube.com/embed/lBC6ee9oDTo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
    </div>
    <!-- /PELICULA A VER -->
    <!-- CONTENIDO PELICULAS -->
    <div class="row peliculas-row">
        <div class="col-md-8 col-sm-12">
            <h1>{{infoPelicula.producto.nombre}} <small class="text-muted"> {{infoPelicula.producto.anio}}</small></h1> 
        </div>
        <div class="col-md-1 col-4">
            <img src="assets/img/coronaFavoritos.png" class="favorito" title="Agregar a Mis Favoritos">
        </div>
        <div class="col-md-3 col-8">
            <img src="assets/img/Like.png" class="btn-like" title="Me gusta"><span class="badge badge-light">{{infoPelicula.producto.like}}</span>
            <img src="assets/img/DisLike.png" class="btn-dislike" title="No me gusta"><span class="badge badge-light">{{infoPelicula.producto.disLike}}</span>
        </div>
        <div class="col-md-12">
            <small class="small-pelis">{{infoPelicula.producto.genero}} | +{{infoPelicula.producto.clasificacion}}</small>
        </div>
        <div class="col-md-12">
            <small class="small-pelis">Director: {{infoPelicula.producto.director}} | Protagonista: {{infoPelicula.producto.protagonista}} </small>
        </div>
        <div class="col-md-12">
            <p>{{infoPelicula.producto.sipnosis}}</p>
        </div>
        <!-- COMENTARIOS -->
        <div class="col-md-12">
            <h2>Comentarios</h2>
        </div>            
        <div class="col-md-8 col-sm-12">
            <ul class="list-unstyled">
            <li class="media">
                <img src="https://static.ellahoy.es/r/845X0/www.ellahoy.es/img/perfil-del-hombre-infiel.jpg" class="mr-3" alt="...">
                <div class="media-body">
                <h5 class="mt-0 mb-1">Eduardito Manos de Tirejas</h5>
                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                </div>
            </li>
            <li class="media my-4">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTvV7W1JiVpU2sZvf3PHMPCE5_3wligr52gbKXZATFfltvKo_TW" class="mr-3" alt="...">
                <div class="media-body">
                <h5 class="mt-0 mb-1">Fanny la picos</h5>
                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                </div>
            </li>
            <li class="media">
                <img src="https://www.okchicas.com/wp-content/uploads/2018/01/Poses-para-una-buena-foto-de-perfil-1-1.jpg" class="mr-3" alt="...">
                <div class="media-body">
                <h5 class="mt-0 mb-1">Señales sonrientes</h5>
                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                </div>
            </li>
            </ul>
        </div>
        <div class="col-md-4 col-sm-12">
            <form action="" class="form-comentario">
                <textarea class="form-control" rows="2" placeholder="Comenta..."></textarea>
                <button class="btn btn-footer">Publicar</button>
            </form>
        </div>
        <!-- /COMENTARIOS -->
    </div>
    <!-- /CONTENIDO PELICULAS -->
</div>