<router-outlet></router-outlet>
<div class="container-fluid">
    <!-- PELICULA A VER -->
    <div class="row">
            <iframe width="100%" height="600" src="https://www.youtube.com/embed/lBC6ee9oDTo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <!-- /PELICULA A VER -->
    <!-- CONTENIDO PELICULAS -->
    <div class="row peliculas-row">
        <div class="col-md-8 col-sm-12">
            <h1>Preciosa <small class="text-muted">2009</small></h1> 
        </div>
        <div class="col-md-1 col-4">
            <img src="assets/img/coronaFavoritos.png" class="favorito" title="Agregar a Mis Favoritos">
        </div>
        <div class="col-md-3 col-8">
            <img src="assets/img/Like.png" class="btn-like" title="Me gusta"><span class="badge badge-light">10</span>
            <img src="assets/img/DisLike.png" class="btn-dislike" title="No me gusta"><span class="badge badge-light">2</span>
        </div>
        <div class="col-md-12">
            <small class="small-pelis">Drama | +18</small>
        </div>
        <div class="col-md-12">
            <small class="small-pelis">Director: Lee Daniels | Protagonista: Gabourey Sidibe </small>
        </div>
        <div class="col-md-12">
            <p>La historia se ambienta en 1987. Clarieece Precious Jones, más conocida como Precious, es una adolescente de 16 años analfabeta y obesa. Ella vive en la ciudad de Nueva York en Harlem, donde se sitúan mayormente los afroamericanos. Su madre, Mary, es una mujer desempleada que pasa la mayor parte del tiempo frente al televisor y somete a Precious a través de abusos físicos y verbales. El profundo odio de Mary hacia su hija se debe a que Precious ha sido violada por su padre, Carl, y dio como resultado a dos embarazos. La familia reside en la sección número 8 de una vecindad de Harlem. El primer hijo de Precious es "Mongo" (Mongolia), una niña que tiene síndrome de Down y es cuidada y atendida por la abuela de Precious, aunque Mary decide obligar a la familia a que pretendan que Mongo vive con ella y Precious, y así pueda recibir dinero adicional del gobierno y pueda aparentar que Mary tiene la responsabilidad de la casa y la familia.</p>
        </div>
        <!-- TEMPORADAS -->
        <div class="col-md-12">
            <h2>Temporadas</h2>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="list-group" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Temporada 1</a>
                    <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Temporada 2</a>
                    <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Temporada 3</a>
                    <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Temporada 4</a>
                    </div>
                </div>
                <div class="col-md-8 col-sm-12">
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Capitulo 1</li>
                                <li class="list-group-item">Capitulo 2</li>
                                <li class="list-group-item">Capitulo 3</li>
                                <li class="list-group-item">Capitulo 4</li>
                                <li class="list-group-item">Capitulo 5</li>
                            </ul>
                        </div>
                        <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Capitulo 1</li>
                                <li class="list-group-item">Capitulo 2</li>
                                <li class="list-group-item">Capitulo 3</li>
                            </ul>
                        </div>
                        <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Capitulo 1</li>
                                <li class="list-group-item">Capitulo 2</li>
                                <li class="list-group-item">Capitulo 3</li>
                                <li class="list-group-item">Capitulo 4</li>
                                <li class="list-group-item">Capitulo 5</li>
                            </ul>
                        </div>
                        <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Capitulo 1</li>
                                <li class="list-group-item">Capitulo 2</li>
                                <li class="list-group-item">Capitulo 3</li>
                                <li class="list-group-item">Capitulo 4</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /TEMPORADAS -->
        <!-- COMENTARIOS -->
        <div class="col-md-12">
            <h2>Comentarios</h2>
        </div>            
        <div class="col-md-8 col-sm-12">
            <ul class="list-unstyled">
            <li class="media">
                <img src="https://static.ellahoy.es/r/845X0/www.ellahoy.es/img/perfil-del-hombre-infiel.jpg" class="mr-3" alt="...">
                <div class="media-body">
                <h5 class="mt-0 mb-1">Eduardito Manos de Tirejas</h5>
                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                </div>
            </li>
            <li class="media my-4">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTvV7W1JiVpU2sZvf3PHMPCE5_3wligr52gbKXZATFfltvKo_TW" class="mr-3" alt="...">
                <div class="media-body">
                <h5 class="mt-0 mb-1">Fanny la picos</h5>
                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                </div>
            </li>
            <li class="media">
                <img src="https://www.okchicas.com/wp-content/uploads/2018/01/Poses-para-una-buena-foto-de-perfil-1-1.jpg" class="mr-3" alt="...">
                <div class="media-body">
                <h5 class="mt-0 mb-1">Señales sonrientes</h5>
                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                </div>
            </li>
            </ul>
        </div>
        <div class="col-md-4 col-sm-12">
            <form action="" class="form-comentario">
                <textarea class="form-control" rows="2" placeholder="Comenta..."></textarea>
                <button class="btn btn-footer">Publicar</button>
            </form>
        </div>
        <!-- /COMENTARIOS -->
    </div>
    <!-- /CONTENIDO PELICULAS -->
</div>