<app-menu></app-menu>
<div class="contenedor">
  <h1 class="titulo">
    MIS FAVORITOS
    <img
      src="../../../../assets/img/coronaFavoritos.png"
      height="55px"
      width="55px"
      alt=""
    />
  </h1>
  <hr class="primer" />
  <div class="imagen"></div>
  <div class="seccionvideos">
    <video
      class="videos"
      src="../../../../assets/videos/BATWOMAN Trailer 1 NEW (2019) DC Superhero Series HD.mp4"
      controls
      autoplay
    ></video>

    <hr class="primer" />

    <video
      class="videos"
      src="../../../../assets/videos/Trailer Valiente  (Español).mp4"
      controls
    ></video>

    <hr class="primer" />

    <video
      class="videos"
      src="../../../../assets/videos/malefica2.mp4"
      controls
    ></video>
  </div>

  <div class="peliculas">
    <h2>PELICULAS</h2>

    <ul>
      <img
        class="animacionimagen"
        src="../../../../assets/img/coronaFavoritos.png"
        height="35px"
        width="35px"
        alt=""
      />

      <hr />

      <li>
        VALIENTE

        <hr />
      </li>

      <li>GIA</li>

      <hr />

      <li>TITANIC</li>

      <hr />

      <li>POCAHONTAS</li>

      <hr />

      <li>MALEFICA</li>

      <hr />

      <li>FROZEN</li>

      <hr />

      <li>MUJER MARAVILLA</li>

      <hr />

      <li>COCO CHANEL</li>

      <hr />

      <li>WHITNEY HOUSTON</li>

      <hr />

      <li>MARYLYN MONROE</li>

      <hr />

      <li>EL QUINTO ELEMENTO</li>

      <hr />

      <li>FRIDA</li>
    </ul>

    <hr />
  </div>
</div>
