<router-outlet></router-outlet>
<div class="container-fluid">
    <!-- TABLA CON DATOS -->
    <div class="row">
        <div class="col-md-12">
            <h1 class="titulo-admin">Peliculas y Series</h1>
        </div>
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-sm">
                    <thead>
                        <tr class="text-center">
                            <th scope="col" class="th-like"><img src="assets/img/Like.png" title="Me gusta"></th>
                            <th scope="col" class="th-like"><img src="assets/img/DisLike.png" title="No me gusta"></th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Año</th>
                            <th scope="col">Genero</th>
                            <th scope="col">Clasificación</th>
                            <th scope="col">Director</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>10</td>
                            <td>2</td>
                            <td><a href="">Preciosa</a></td>
                            <td>2009</td>
                            <td>Drama</td>
                            <td>+18</td>
                            <td>Lee Daniels</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>2</td>
                            <td><a href="">Preciosa</a></td>
                            <td>2009</td>
                            <td>Drama</td>
                            <td>+18</td>
                            <td>Lee Daniels</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>2</td>
                            <td><a href="">Preciosa</a></td>
                            <td>2009</td>
                            <td>Drama</td>
                            <td>+18</td>
                            <td>Lee Daniels</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>2</td>
                            <td><a href="">Preciosa</a></td>
                            <td>2009</td>
                            <td>Drama</td>
                            <td>+18</td>
                            <td>Lee Daniels</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>2</td>
                            <td><a href="">Preciosa</a></td>
                            <td>2009</td>
                            <td>Drama</td>
                            <td>+18</td>
                            <td>Lee Daniels</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>2</td>
                            <td><a href="">Preciosa</a></td>
                            <td>2009</td>
                            <td>Drama</td>
                            <td>+18</td>
                            <td>Lee Daniels</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>2</td>
                            <td><a href="">Preciosa</a></td>
                            <td>2009</td>
                            <td>Drama</td>
                            <td>+18</td>
                            <td>Lee Daniels</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>2</td>
                            <td><a href="">Preciosa</a></td>
                            <td>2009</td>
                            <td>Drama</td>
                            <td>+18</td>
                            <td>Lee Daniels</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>2</td>
                            <td><a href="">Preciosa</a></td>
                            <td>2009</td>
                            <td>Drama</td>
                            <td>+18</td>
                            <td>Lee Daniels</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>2</td>
                            <td><a href="">Preciosa</a></td>
                            <td>2009</td>
                            <td>Drama</td>
                            <td>+18</td>
                            <td>Lee Daniels</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <button routerLink="/nuevoEditarPelicula" class="btn btn-footer">Nueva Pelicula o Serie</button>
        </div>
        <div class="col-md-12">
            <nav aria-label="Page navigation example">
                <ul class="pagination pagination-sm justify-content-center">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>