<router-outlet></router-outlet>
<div class="container-fluid">
    <!-- TABLA CON DATOS -->
    <div class="row">
        <div class="col-md-12">
            <h1 class="titulo-admin">Películas</h1>
        </div>
        <div class="col-md-12">
            <div style="text-align: right;">
                <select class="btn btn-footer" style="width: auto" [(ngModel)]="pageSize">
                    <option [ngValue]="1">1 item per page</option>
                    <option [ngValue]="5">5 items per page</option>
                    <option [ngValue]="10">10 items per page</option>
                    <option [ngValue]="50">50 items per page</option>
                </select>
            </div>

            <div class="table-responsive">
                <table class="table table-bordered table-hover table-sm">
                    <thead>
                        <tr class="text-center">
                            <th scope="col" class="th-like"><img src="assets/img/Like.png" title="Me gusta"></th>
                            <th scope="col" class="th-like"><img src="assets/img/DisLike.png" title="No me gusta"></th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Año</th>
                            <th scope="col">Genero</th>
                            <th scope="col">Clasificación</th>
                            <th scope="col">Director</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let producto of productos; index as i">
                            <td>
                                {{ producto.like }}
                            </td>
                            <td>
                                {{ producto.dislike }}
                            </td>
                            <td>
                                <a [routerLink]="['/adminPelicula/', producto._id]">
                                     {{ producto.nombre }}</a>
                            </td>
                            <td>
                                {{ producto.anio }}
                            </td>
                            <td>
                                {{ producto.genero }}
                            </td>
                            <td>
                                {{ producto.clasificacion }}
                            </td>
                            <td>
                                {{ producto.director }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>


            <div class="col-md-12">
                <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
                    class="pagination pagination-sm justify-content-center">
                </ngb-pagination>
            </div>
            <button routerLink="/adminPelicula" class="btn btn-footer">Nueva Película</button>
        </div>
    </div>
</div>