<!-- <link href="https://fonts.googleapis.com/css?family=Great+Vibes|ZCOOL+XiaoWei&display=swap" rel="stylesheet">
 --><div ><!-- class="contenedorCrear" -->
    <div ><!-- class="tituloListaCanciones" -->
        <!--  <img src="../../assets/images/flecha-izq.png" alt="">-->
        <h2>Crear Nuevo Capítulo</h2>
        <!-- <img src="../../assets/images/guardar.png" width="30px" height="30px" alt=""> -->
    </div>

    <form [formGroup]="capituloForm" (ngSubmit)="enviar()">
        <label for="nombre">Nombre:</label>
        <input formControlName="nombre" type="text" />
        <label for="temporada">Temporada:</label>
        <select name="temporada" id="temporada" formControlName="genero">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <label for="archivo">Archivo: </label>
        <input type="file" accept=".mp4,video/*" (change)="onSelectFile($event)" name="archivo" id="archivo" #fileInput>
        <!-- ;.webm,video/* ;.ogg,video/* -->
        <button [disabled]="!capituloForm.valid" type="submit">Registrar</button>
    </form>
</div>