<header></header>
<!-- <link href="https://fonts.googleapis.com/css?family=Great+Vibes|ZCOOL+XiaoWei&display=swap" rel="stylesheet">
 -->
<div > <!-- class="contenedorCrear" -->
    <div ><!-- class="tituloListaCanciones" -->
        <!-- <img src="../../assets/images/flecha-izq.png" alt="">
         -->
         <h2>Crear Nuevo Producto</h2>
        <!-- <img src="../../assets/images/guardar.png" width="30px" height="30px" alt=""> -->
    </div>

    <form [formGroup]="productoForm" (ngSubmit)="enviar()">
        <label for="nombre">Nombre:</label>
        <input formControlName="nombre" type="text" />
        <br>
        <label for="genero">Género:</label>
        <!-- "Acción", "Anime", "Aventura", "Ciencia Ficción", "Comedia", "Drama", "Musical","Suspenso", "Terror" -->
        <select name="genero" id="genero" formControlName="genero">
            <option value="Acción">Acción</option>
            <option value="Anime">Anime</option>
            <option value="Aventura">Aventura</option>
            <option value="Ciencia Ficción">Ciencia Ficción</option>
            <option value="Comedia">Comedia</option>
            <option value="Drama">Drama</option>
            <option value="Musical">Musical</option>
            <option value="Suspenso">Suspenso</option>
            <option value="Terror">Terror</option>
        </select>
        <br>
        <label for="anio">Año:</label>
        <input formControlName="anio" type="Number" name="anio" id="anio" />
        <br>
        <label for="duracion">Duración:</label>
        <input formControlName="duracion" type="Number" name="duracion" id="duracion" />
        <br>
        <label for="sinopsis">Sinopsis: </label>
        <input formControlName="sinopsis" type="text" name="sinopsis" id="sinopsis" />
        <br>
        <label for="imagen">Imagen: </label>
        <input formControlName="imagen" type="text" name="imagen" id="imagen" />
        <br>
        <label for="like">Like:</label>
        <input formControlName="like" type="Number" name="like" id="like" />
        <br>
        <label for="clasificacion">Clasificación:</label>
        <input formControlName="clasificacion" type="text" name="clasificacion" id="clasificacion" />
        <br>
        <label for="dislike">Dislike:</label>
        <input formControlName="dislike" type="Number" name="dislike" id="dislike" />
        <br>
        <label for="edad">Edad: </label>
        <input formControlName="edad" type="text" name="edad" id="edad" />
        <br>
        <label for="director">Director: </label>
        <input formControlName="director" type="text" name="director" id="director" />
        <br>
        <label for="protagonista">Protagonista: </label>
        <input formControlName="protagonista" type="text" name="protagonista" id="protagonista" />
        <br>
        <label for="categoria">Categoría:</label>
        <!-- "Acción", "Anime", "Aventura", "Ciencia Ficción", "Comedia", "Drama", "Musical","Suspenso", "Terror" -->
        <select name="categoria" id="categoria" formControlName="categoria">
            <option value="Película">Película</option>
            <option value="Serie">Serie</option>

        </select>
        <br>
        <label for="archivo">Archivo: </label>
        <input type="file" accept=".mp4,video/*" (change)="onSelectFile($event)" name="archivo" id="archivo" #fileInput>
        <br>
        <button [disabled]="!productoForm.valid" type="submit">Registrar</button>
    </form>
</div>
<!-- </div> -->


