  @import "~bootstrap/dist/css/bootstrap.css";
* {
  margin: 0px;
  padding: 0px;
}
.body {
  background: #262626;
  font-family: "Istok Web", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(255, 204, 94);
  /* font-family: 'Caveat Brush', cursive; */
  font-family: "Archivo Black", sans-serif;
}
p {
  font-family: "Istok Web", sans-serif;
  color: #f6f5f5;
}
/* LOGIN */
.fondo-login {
  height: 100vh;
  background: url("https://de10.com.mx/sites/default/files/styles/detalle_nota/public/2018/05/29/malefica_2_pelicula.jpg?itok=cB5S1vU8");
}
/* /LOGIN */
/* BANNER INDEX */
.banner {
  height: 100vh;
  background: #000;
  color: #fff;
}
.btn-index {
  color: rgb(255, 204, 94);
  font-weight: bold;
  background: transparent;
  border: 1px solid rgb(255, 204, 94);
  border-radius: 5px;
  transition: all 1s;
}
.btn-index:hover {
  color: rgb(73, 55, 17);
  background: url("https://image.freepik.com/vector-gratis/fondo-textura-metal-dorado_46250-145.jpg");
  font-weight: bold;
  border: transparent;
}
/* /BANNER INDEX */
/* NOSOTROS INDEX */
.nosotros-sec {
  padding: 100px 100px;
}
.nosotros-sec h1 {
  padding: 0px 90px;
  padding-bottom: 50px;
}
/* /NOSOTROS INDEX */
/* FOOTER */
footer {
  background: rgba(0, 0, 0, 0.5);
  padding: 50px;
  border-radius: 5px;
}
.input-footer {
  color: white;
  width: 350px;
  padding: 10px 5px;
  margin-top: 10px;
  border: none;
  background: transparent;
  border-bottom: 1px solid rgb(255, 204, 94);
}
.btn-footer {
  color: rgb(255, 204, 94);
  font-weight: bold;
  background: transparent;
  border: 1px solid rgb(255, 204, 94);
  border-radius: 5px;
  transition: all 1s;
}
.btn-footer:hover{
  color: rgb(73, 55, 17);
  background: url("https://image.freepik.com/vector-gratis/fondo-textura-metal-dorado_46250-145.jpg");
  font-weight: bold;
  border: transparent;
}
.p-footer {
  color: rgba(255, 255, 255, 0.5);
}
.p-footer a {
  color: rgb(255, 204, 94);
  transition: all 0.5s;
}
.p-footer a:hover {
  color: rgb(167, 120, 67);
}
/* /FOOTER */
/* BANNER ESTRENOS */
.bd-example {
  background: #000;
}
.bd-example {
  width: 100%;
}
.video-banner {
  width: 100vw;
  height: 90vh;
}
.carousel-caption {
  text-align: justify;
  width: 300px;
  right: 15%;
  bottom: 15%;
  left: unset;
}
.carousel-indicators li {
  border-radius: 50%;
  width: 10px;
  height: 10px;
}
.carousel-caption p a {
  color: rgb(255, 204, 94);
}
.carousel-caption h3 {
  text-align: center;
  color: rgb(255, 204, 94);
}
.carousel-caption p a:hover {
  color: rgb(255, 204, 94);
}
/* /BANNER ESTRENOS */
/* CARRUSEL PELICULAS */
.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 400px;
}
.swiper-pagination-bullet-active {
  background: rgb(255, 204, 94);
}
.img-card-peli {
  width: 100%;
  height: 250px;
}
.card-body {
  padding: 5px;
}
.card {
  margin: auto;
  background-color: transparent;
  background-clip: border-box;
  border: transparent;
  border-radius: 0.25rem;
}
.card-title {
  color: #f6f5f5;
}
.card-body p {
  color: #e8e8e7;
}
.card-body a {
  color: rgb(255, 204, 94);
  font-weight: bold;
  background: transparent;
  border: 1px solid rgb(255, 204, 94);
  border-radius: 5px;
  transition: all 1s;
}
.card-body a:hover {
  color: rgb(73, 55, 17);
  background: url("https://image.freepik.com/vector-gratis/fondo-textura-metal-dorado_46250-145.jpg");
  font-weight: bold;
  border: transparent;
}
/* /CARRUSEL PELICULAS */

/* MENU */
.nickname {
  font-family: "Archivo Black", sans-serif;
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
}
.menu ul {
  list-style: none;
  padding: 20px;
  margin: 0;
  position: fixed;
  top: 0;
  left: -50%; /*se le da el left con el mismo tamaño del ancho*/
  background: rgba(0, 0, 0, 0.9);
  width: 20%;
  height: 100vh;
  padding-top: 5em;
  z-index: 100; /*Indica la posicion en el eje Z (tridimencional) de éste elemento (para que el botón salga en frente del menú, en éste caso)*/
  transition: all 0.5s;
}
.menu ul li a {
  color: rgb(255, 204, 94);
  text-decoration: none;
  display: block;
  line-height: 2.5;
  padding: 0 1em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.menu ul li a {
  color: rgb(255, 204, 94);
  text-decoration: none;
  display: block;
  line-height: 2.5;
  padding: 0 1em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.btn-administrar {
  background: rgba(255, 255, 255, 0.2);
}
.menu ul li a:hover {
  background: rgba(255, 255, 255, 0.2);
}
#mostrarMenu {
  display: none;
}
#mostrarMenu + label {
  position: fixed;
  top: 0;
  left: 0;
  line-height: 2;
  background: #222;
  color: #fff;
  padding: 0 1em;
  cursor: pointer;
  z-index: 150;
}
#mostrarMenu:checked ~ ul {
  left: 0px;
}
.dropdown-menu {
  background: rgba(0, 0, 0, 0.9);
  padding: 0;
}
.dropdown-menu .dropdown-item {
  color: rgb(255, 189, 46);
}
.dropdown-menu .dropdown-item:hover {
  background: rgba(124, 18, 18, 0.5);
}
/* /MENU */

/* MEDIAQUERYS */
@media only screen and (max-width: 540px) {
  /* BANNER ESTRENOS */
  .video-banner {
    width: 100%;
    height: 200px;
  }
  /* CARRUSEL PELICULAS */
  .swiper-slide {
    left: 1%;
  }
  /* MENU */
  .menu ul {
    left: -60%;
    width: 60%;
  }
  /* NOSOTROS */
  .nosotros-sec h1 {
    padding: 0px 0px;
  }
  .nosotros-sec {
    padding: 50px 20px;
  }
  /* FOOTER */
  .input-footer {
    width: 100%;
  }
  .btn-footer {
    margin: 10px 0px 40px 0px;
  }
}

/* fondo baner */
.fondobaner{
  background: url(../src/assets/imagenes/fondo5.jpg);
  background-size: 100vw;
  opacity: 0.8;
  
  }
  
  /* .cleopatra{
      background-image: url(cleopatra.png);
   
  } */
  
  .animacionlogo{
  animation-direction: 1ms;
  /* animation-delay: 2s; */
  animation-iteration-count: infinite top;
  }


  /* LOGIN Y REGISTRO */

  .fondo-login {
    height: 100vh;
    background: url('https://de10.com.mx/sites/default/files/styles/detalle_nota/public/2018/05/29/malefica_2_pelicula.jpg?itok=cB5S1vU8');
    background-attachment: fixed;
    /* filter: blur(2px); */
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
 }
 .fondo-login .row {
    height: 100vh;
 }
 .btn-footer:hover {
    color:rgb(73, 55, 17);
    background: url("https://image.freepik.com/vector-gratis/fondo-textura-metal-dorado_46250-145.jpg");
    font-weight: bold;
    border: 1px solid transparent;
 }
 .form-loguin {
    background: rgba(0,0,0,0.9);
    padding: 40px 0px;
 }
 .form-loguin a {
    margin-top: 20px;
    color: rgb(255, 204, 94);
    transition: all 0.5s;
 }
 .form-loguin a:hover {
    color: rgb(167, 120, 67);
 }
 /* /LOGIN */
 /* REGISTRO  */
 .fondo-registro {
    height: 100vh;
    background: url('https://wallpaperstock.net/wallpapers/thumbs1/2075.jpg');
    background-attachment: fixed;
    /* filter: blur(2px); */
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
 }
 .fondo-registro .row {
    height: 100vh;
 }

