<app-menu></app-menu>
<div>
  <div class="col-md-12">
    <h1 class="titulo-admin">Editar Información de usuario</h1>
  </div>
  <div class="col-md-12">
    <div class="form-nuevo">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="">IMAGEN: </label>
        <input
          type="file"
          accept="image/*"
          id="imagen"
          (change)="handleImageInput($event.target.files)"
          size="50px"
          [(ngModel)]="usuario.imagen"
        />
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="">NOMBRE: </label
        ><input type="text" size="50px" [(ngModel)]="usuario.nombre" />
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="">EDAD: </label
        ><input type="text" size="50px" [(ngModel)]="usuario.edad" />
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="">CORREO: </label
        ><input type="text" size="50px" [(ngModel)]="usuario.correo" />
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="">PASSWORD: </label>
        <input type="password" size="50px" [(ngModel)]="usuario.password" />
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="">ROLE: </label>
        <select
          class="inputPerfil"
          [disabled]="
            usuarioLogueado.role !== 'Admin' ||
            usuario._id === usuarioLogueado._id
          "
          [(ngModel)]="usuario.role"
        >
          <option>Regular</option>
          <option>Admin</option>
        </select>
      </div>
    </div>
  </div>
  <div class="botones">
    <div></div>
    <div class="col-md-4 offset-md-4 col-sm-12">
      <button
        (click)="actualizarUsuario()"
        class="btn btn-editar btn-lg btn-block"
      >
        ACTUALIZAR
      </button>
    </div>
  </div>
  <div class="col-md-4 offset-md-4 col-sm-12">
    <a routerLink="/home">Volver</a>
  </div>
</div>
