<!-- FOOTER -->
<footer>
  <div class="row align-items-center animated fadeInUp">
    <div class="col-md-6 col-sm-12 text-center">
      <form action="">
        <div class="form-group">
          <input
            type="text"
            class="input-footer"
            placeholder="Correo electrónico"
          />
        </div>
        <div class="form-group">
          <input type="text" class="input-footer" placeholder="Mensaje" />
        </div>
        <button class="btn btn-footer">Enviar</button>
      </form>
    </div>
    <div class="col-md-6 col-sm-12 text-center">
      <p class="p-footer">Creado y diseñado por <a href="/">AgileSoft</a></p>
    </div>
  </div>
</footer>
<!-- /FOOTER -->
